<?xml version="1.0"?>
<!--
  ~ @package      Webcode_elasticsuite
  ~
  ~ @author       Kostadin Bashev (bashev@webcode.bg)
  ~ @copyright    Copyright © 2021 Webcode Ltd. (https://webcode.bg/)
  ~ @license      See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Smile_ElasticsuiteCatalog" setup_version="1.6.0">
        <sequence>
            <module name="Smile_ElasticsuiteCore" />
            <module name="Magento_Search" />
            <module name="Magento_CatalogSearch" />
            <module name="Magento_LayeredNavigation" />
            <module name="Magento_CatalogInventory" />
            <module name="Magento_LayeredNavigationStaging" />
            <module name="Magento_InventorySalesApi" />
            <module name="Magento_InventorySales" />
            <module name="Magento_InventoryIndexer" />
            <module name="Magento_Elasticsearch" />
        </sequence>
    </module>
</config>
